@import 'https://ms.systech.work/src/cdn/normalize/default.css';
@import 'https://ms.systech.work/src/cdn/animate/default.css';






/**
 * 主题模块 color 生成语句
 * 不要手动修改
 */

$colorListBase: red,orange,yellow,green,cyan,blue,purple,gray,danger,warn,success,primary,bz,fc,bgc,bdc;
$colorListStatic:   white,black,shadow;
$colorListAll:  red,orange,yellow,green,cyan,blue,purple,gray,danger,warn,success,primary,bz,fc,bgc,bdc,white,black,shadow;
$colorShiftQueue:   l3,l2,l1,m,d1,d2,d3;

$colorAlphaMap: (
a1: 1a,
a2: 33,
a3: 4d,
a4: 66,
a5: 80,
a6: 99,
a7: b3,
a8: cc,
a9: e6,
);
$colorListAlpha:    a1,a2,a3,a4,a5,a6,a7,a8,a9;

$color-red-m:   #fa5151;
$color-red-d3:  #770404;
$color-red-d2:  #bc0606;
$color-red-d1:  #f80d0d;
$color-red-l1:  #fb8383;
$color-red-l2:  #fdbaba;
$color-red-l3:  #feebeb;
$color-orange-m:    #ff8600;
$color-orange-d3:   #7a4100;
$color-orange-d2:   #a85a00;
$color-orange-d1:   #d17000;
$color-orange-l1:   #ffac4d;
$color-orange-l2:   #ffd29e;
$color-orange-l3:   #fff5eb;
$color-yellow-m:    #fa9d3b;
$color-yellow-d3:   #773f03;
$color-yellow-d2:   #b35f05;
$color-yellow-d1:   #f48106;
$color-yellow-l1:   #fcbc79;
$color-yellow-l2:   #fdd7af;
$color-yellow-l3:   #fef5eb;
$color-green-m: #07c160;
$color-green-d3:    #04763b;
$color-green-d2:    #058f48;
$color-green-d1:    #06a754;
$color-green-l1:    #30f891;
$color-green-l2:    #8efbc3;
$color-green-l3:    #ebfef4;
$color-cyan-m:  #01c4b3;
$color-cyan-d3: #017a70;
$color-cyan-d2: #019387;
$color-cyan-d1: #01ad9e;
$color-cyan-l1: #2afeec;
$color-cyan-l2: #8afef5;
$color-cyan-l3: #ebfffd;
$color-blue-m:  #1485ee;
$color-blue-d3: #083f72;
$color-blue-d2: #0b579d;
$color-blue-d1: #0e6ec8;
$color-blue-l1: #5dabf4;
$color-blue-l2: #a4d0f9;
$color-blue-l3: #ecf5fe;
$color-purple-m:    #ea6e9c;
$color-purple-d3:   #6b0f31;
$color-purple-d2:   #aa184e;
$color-purple-d1:   #e12d6f;
$color-purple-l1:   #f098b9;
$color-purple-l2:   #f6c1d4;
$color-purple-l3:   #fcedf3;
$color-gray-m:  #888888;
$color-gray-d3: #3d3d3d;
$color-gray-d2: #575757;
$color-gray-d1: #6e6e6e;
$color-gray-l1: #ababab;
$color-gray-l2: #d1d1d1;
$color-gray-l3: #f5f5f5;
$color-danger-m:    #fa5151;
$color-danger-d3:   #770404;
$color-danger-d2:   #bc0606;
$color-danger-d1:   #f80d0d;
$color-danger-l1:   #fb8383;
$color-danger-l2:   #fdbaba;
$color-danger-l3:   #feebeb;
$color-warn-m:  #fa9d3b;
$color-warn-d3: #773f03;
$color-warn-d2: #b35f05;
$color-warn-d1: #f48106;
$color-warn-l1: #fcbc79;
$color-warn-l2: #fdd7af;
$color-warn-l3: #fef5eb;
$color-success-m:   #07c160;
$color-success-d3:  #04763b;
$color-success-d2:  #058f48;
$color-success-d1:  #06a754;
$color-success-l1:  #30f891;
$color-success-l2:  #8efbc3;
$color-success-l3:  #ebfef4;
$color-primary-m:   #1485ee;
$color-primary-d3:  #083f72;
$color-primary-d2:  #0b579d;
$color-primary-d1:  #0e6ec8;
$color-primary-l1:  #5dabf4;
$color-primary-l2:  #a4d0f9;
$color-primary-l3:  #ecf5fe;
$color-bz-m:    #ff8600;
$color-bz-d3:   #7a4100;
$color-bz-d2:   #a85a00;
$color-bz-d1:   #d17000;
$color-bz-l1:   #ffac4d;
$color-bz-l2:   #ffd29e;
$color-bz-l3:   #fff5eb;
$color-fc-m:    #737373;
$color-fc-d3:   #3d3d3d;
$color-fc-d2:   #4f4f4f;
$color-fc-d1:   #616161;
$color-fc-l1:   #9e9e9e;
$color-fc-l2:   #c9c9c9;
$color-fc-l3:   #f5f5f5;
$color-bgc-m:   #f2f2f2;
$color-bgc-d3:  #3d3d3d;
$color-bgc-d2:  #7a7a7a;
$color-bgc-d1:  #b5b5b5;
$color-bgc-l1:  #f2f2f2;
$color-bgc-l2:  #f5f5f5;
$color-bgc-l3:  #f5f5f5;
$color-bdc-m:   #efefef;
$color-bdc-d3:  #3d3d3d;
$color-bdc-d2:  #787878;
$color-bdc-d1:  #b5b5b5;
$color-bdc-l1:  #f2f2f2;
$color-bdc-l2:  #f2f2f2;
$color-bdc-l3:  #f5f5f5;
$color-white-m: #ffffff;
$color-black-m: #000000;
$color-shadow-m:    #0000004d;

$colorMap: (
red-m:  #fa5151,
red-d3: #770404,
red-d2: #bc0606,
red-d1: #f80d0d,
red-l1: #fb8383,
red-l2: #fdbaba,
red-l3: #feebeb,
orange-m:   #ff8600,
orange-d3:  #7a4100,
orange-d2:  #a85a00,
orange-d1:  #d17000,
orange-l1:  #ffac4d,
orange-l2:  #ffd29e,
orange-l3:  #fff5eb,
yellow-m:   #fa9d3b,
yellow-d3:  #773f03,
yellow-d2:  #b35f05,
yellow-d1:  #f48106,
yellow-l1:  #fcbc79,
yellow-l2:  #fdd7af,
yellow-l3:  #fef5eb,
green-m:    #07c160,
green-d3:   #04763b,
green-d2:   #058f48,
green-d1:   #06a754,
green-l1:   #30f891,
green-l2:   #8efbc3,
green-l3:   #ebfef4,
cyan-m: #01c4b3,
cyan-d3:    #017a70,
cyan-d2:    #019387,
cyan-d1:    #01ad9e,
cyan-l1:    #2afeec,
cyan-l2:    #8afef5,
cyan-l3:    #ebfffd,
blue-m: #1485ee,
blue-d3:    #083f72,
blue-d2:    #0b579d,
blue-d1:    #0e6ec8,
blue-l1:    #5dabf4,
blue-l2:    #a4d0f9,
blue-l3:    #ecf5fe,
purple-m:   #ea6e9c,
purple-d3:  #6b0f31,
purple-d2:  #aa184e,
purple-d1:  #e12d6f,
purple-l1:  #f098b9,
purple-l2:  #f6c1d4,
purple-l3:  #fcedf3,
gray-m: #888888,
gray-d3:    #3d3d3d,
gray-d2:    #575757,
gray-d1:    #6e6e6e,
gray-l1:    #ababab,
gray-l2:    #d1d1d1,
gray-l3:    #f5f5f5,
danger-m:   #fa5151,
danger-d3:  #770404,
danger-d2:  #bc0606,
danger-d1:  #f80d0d,
danger-l1:  #fb8383,
danger-l2:  #fdbaba,
danger-l3:  #feebeb,
warn-m: #fa9d3b,
warn-d3:    #773f03,
warn-d2:    #b35f05,
warn-d1:    #f48106,
warn-l1:    #fcbc79,
warn-l2:    #fdd7af,
warn-l3:    #fef5eb,
success-m:  #07c160,
success-d3: #04763b,
success-d2: #058f48,
success-d1: #06a754,
success-l1: #30f891,
success-l2: #8efbc3,
success-l3: #ebfef4,
primary-m:  #1485ee,
primary-d3: #083f72,
primary-d2: #0b579d,
primary-d1: #0e6ec8,
primary-l1: #5dabf4,
primary-l2: #a4d0f9,
primary-l3: #ecf5fe,
bz-m:   #ff8600,
bz-d3:  #7a4100,
bz-d2:  #a85a00,
bz-d1:  #d17000,
bz-l1:  #ffac4d,
bz-l2:  #ffd29e,
bz-l3:  #fff5eb,
fc-m:   #737373,
fc-d3:  #3d3d3d,
fc-d2:  #4f4f4f,
fc-d1:  #616161,
fc-l1:  #9e9e9e,
fc-l2:  #c9c9c9,
fc-l3:  #f5f5f5,
bgc-m:  #f2f2f2,
bgc-d3: #3d3d3d,
bgc-d2: #7a7a7a,
bgc-d1: #b5b5b5,
bgc-l1: #f2f2f2,
bgc-l2: #f5f5f5,
bgc-l3: #f5f5f5,
bdc-m:  #efefef,
bdc-d3: #3d3d3d,
bdc-d2: #787878,
bdc-d1: #b5b5b5,
bdc-l1: #f2f2f2,
bdc-l2: #f2f2f2,
bdc-l3: #f5f5f5,
white-m:    #ffffff,
black-m:    #000000,
shadow-m:   #0000004d,
);

:root {
--color-red-m:  #fa5151;
--color-red-d3: #770404;
--color-red-d2: #bc0606;
--color-red-d1: #f80d0d;
--color-red-l1: #fb8383;
--color-red-l2: #fdbaba;
--color-red-l3: #feebeb;
--color-orange-m:   #ff8600;
--color-orange-d3:  #7a4100;
--color-orange-d2:  #a85a00;
--color-orange-d1:  #d17000;
--color-orange-l1:  #ffac4d;
--color-orange-l2:  #ffd29e;
--color-orange-l3:  #fff5eb;
--color-yellow-m:   #fa9d3b;
--color-yellow-d3:  #773f03;
--color-yellow-d2:  #b35f05;
--color-yellow-d1:  #f48106;
--color-yellow-l1:  #fcbc79;
--color-yellow-l2:  #fdd7af;
--color-yellow-l3:  #fef5eb;
--color-green-m:    #07c160;
--color-green-d3:   #04763b;
--color-green-d2:   #058f48;
--color-green-d1:   #06a754;
--color-green-l1:   #30f891;
--color-green-l2:   #8efbc3;
--color-green-l3:   #ebfef4;
--color-cyan-m: #01c4b3;
--color-cyan-d3:    #017a70;
--color-cyan-d2:    #019387;
--color-cyan-d1:    #01ad9e;
--color-cyan-l1:    #2afeec;
--color-cyan-l2:    #8afef5;
--color-cyan-l3:    #ebfffd;
--color-blue-m: #1485ee;
--color-blue-d3:    #083f72;
--color-blue-d2:    #0b579d;
--color-blue-d1:    #0e6ec8;
--color-blue-l1:    #5dabf4;
--color-blue-l2:    #a4d0f9;
--color-blue-l3:    #ecf5fe;
--color-purple-m:   #ea6e9c;
--color-purple-d3:  #6b0f31;
--color-purple-d2:  #aa184e;
--color-purple-d1:  #e12d6f;
--color-purple-l1:  #f098b9;
--color-purple-l2:  #f6c1d4;
--color-purple-l3:  #fcedf3;
--color-gray-m: #888888;
--color-gray-d3:    #3d3d3d;
--color-gray-d2:    #575757;
--color-gray-d1:    #6e6e6e;
--color-gray-l1:    #ababab;
--color-gray-l2:    #d1d1d1;
--color-gray-l3:    #f5f5f5;
--color-danger-m:   #fa5151;
--color-danger-d3:  #770404;
--color-danger-d2:  #bc0606;
--color-danger-d1:  #f80d0d;
--color-danger-l1:  #fb8383;
--color-danger-l2:  #fdbaba;
--color-danger-l3:  #feebeb;
--color-warn-m: #fa9d3b;
--color-warn-d3:    #773f03;
--color-warn-d2:    #b35f05;
--color-warn-d1:    #f48106;
--color-warn-l1:    #fcbc79;
--color-warn-l2:    #fdd7af;
--color-warn-l3:    #fef5eb;
--color-success-m:  #07c160;
--color-success-d3: #04763b;
--color-success-d2: #058f48;
--color-success-d1: #06a754;
--color-success-l1: #30f891;
--color-success-l2: #8efbc3;
--color-success-l3: #ebfef4;
--color-primary-m:  #1485ee;
--color-primary-d3: #083f72;
--color-primary-d2: #0b579d;
--color-primary-d1: #0e6ec8;
--color-primary-l1: #5dabf4;
--color-primary-l2: #a4d0f9;
--color-primary-l3: #ecf5fe;
--color-bz-m:   #ff8600;
--color-bz-d3:  #7a4100;
--color-bz-d2:  #a85a00;
--color-bz-d1:  #d17000;
--color-bz-l1:  #ffac4d;
--color-bz-l2:  #ffd29e;
--color-bz-l3:  #fff5eb;
--color-fc-m:   #737373;
--color-fc-d3:  #3d3d3d;
--color-fc-d2:  #4f4f4f;
--color-fc-d1:  #616161;
--color-fc-l1:  #9e9e9e;
--color-fc-l2:  #c9c9c9;
--color-fc-l3:  #f5f5f5;
--color-bgc-m:  #f2f2f2;
--color-bgc-d3: #3d3d3d;
--color-bgc-d2: #7a7a7a;
--color-bgc-d1: #b5b5b5;
--color-bgc-l1: #f2f2f2;
--color-bgc-l2: #f5f5f5;
--color-bgc-l3: #f5f5f5;
--color-bdc-m:  #efefef;
--color-bdc-d3: #3d3d3d;
--color-bdc-d2: #787878;
--color-bdc-d1: #b5b5b5;
--color-bdc-l1: #f2f2f2;
--color-bdc-l2: #f2f2f2;
--color-bdc-l3: #f5f5f5;
--color-white-m:    #ffffff;
--color-black-m:    #000000;
--color-shadow-m:   #0000004d;
}


/**
 * 主题模块 size 生成语句
 * 不要手动修改
 */

$sizeShiftQueue:    xxxxs,xxxs,xxs,xs,s,m,l,xl,xxl,xxxl,xxxxl;

$size-fs-m: 14px;
$size-fs-l: 16px;
$size-fs-s: 12px;
$size-fs-xl:    18px;
$size-fs-xs:    10px;
$size-fs-xxl:   22px;
$size-fs-xxs:   10px;
$size-fs-xxxl:  26px;
$size-fs-xxxs:  9px;
$size-fs-xxxxl: 32px;
$size-fs-xxxxs: 8px;
$size-fw-m: 400px;
$size-fw-l: 500px;
$size-fw-s: 300px;
$size-fw-xl:    700px;
$size-fw-xs:    200px;
$size-fw-xxl:   900px;
$size-fw-xxs:   100px;
$size-mg-m: 16px;
$size-mg-l: 20px;
$size-mg-s: 12px;
$size-mg-xl:    24px;
$size-mg-xs:    8px;
$size-mg-xxl:   28px;
$size-mg-xxs:   4px;
$size-pd-m: 12px;
$size-pd-l: 16px;
$size-pd-s: 8px;
$size-pd-xl:    20px;
$size-pd-xs:    4px;
$size-pd-xxl:   24px;
$size-pd-xxs:   0px;
$size-rd-m: 8px;
$size-rd-l: 10px;
$size-rd-s: 6px;
$size-rd-xl:    12px;
$size-rd-xs:    4px;
$size-rd-xxl:   14px;
$size-rd-xxs:   2px;
$size-btn-m:    32px;
$size-btn-l:    36px;
$size-btn-s:    28px;
$size-btn-xl:   40px;
$size-btn-xs:   24px;
$size-btn-xxl:  44px;
$size-btn-xxs:  20px;
$size-bar-m:    36px;
$size-bar-l:    40px;
$size-bar-s:    32px;
$size-bar-xl:   44px;
$size-bar-xs:   28px;
$size-bar-xxl:  48px;
$size-bar-xxs:  24px;
$size-icon-m:   20px;
$size-icon-l:   24px;
$size-icon-s:   16px;
$size-icon-xl:  28px;
$size-icon-xs:  12px;
$size-icon-xxl: 32px;
$size-icon-xxs: 8px;
$size-bd-m: 1px;

$sizeMap: (
fs-m:   14px,
fs-l:   16px,
fs-s:   12px,
fs-xl:  18px,
fs-xs:  10px,
fs-xxl: 22px,
fs-xxs: 10px,
fs-xxxl:    26px,
fs-xxxs:    9px,
fs-xxxxl:   32px,
fs-xxxxs:   8px,
fw-m:   400px,
fw-l:   500px,
fw-s:   300px,
fw-xl:  700px,
fw-xs:  200px,
fw-xxl: 900px,
fw-xxs: 100px,
mg-m:   16px,
mg-l:   20px,
mg-s:   12px,
mg-xl:  24px,
mg-xs:  8px,
mg-xxl: 28px,
mg-xxs: 4px,
pd-m:   12px,
pd-l:   16px,
pd-s:   8px,
pd-xl:  20px,
pd-xs:  4px,
pd-xxl: 24px,
pd-xxs: 0px,
rd-m:   8px,
rd-l:   10px,
rd-s:   6px,
rd-xl:  12px,
rd-xs:  4px,
rd-xxl: 14px,
rd-xxs: 2px,
btn-m:  32px,
btn-l:  36px,
btn-s:  28px,
btn-xl: 40px,
btn-xs: 24px,
btn-xxl:    44px,
btn-xxs:    20px,
bar-m:  36px,
bar-l:  40px,
bar-s:  32px,
bar-xl: 44px,
bar-xs: 28px,
bar-xxl:    48px,
bar-xxs:    24px,
icon-m: 20px,
icon-l: 24px,
icon-s: 16px,
icon-xl:    28px,
icon-xs:    12px,
icon-xxl:   32px,
icon-xxs:   8px,
bd-m:   1px,
);

:root {
--size-fs-m:    14px;
--size-fs-l:    16px;
--size-fs-s:    12px;
--size-fs-xl:   18px;
--size-fs-xs:   10px;
--size-fs-xxl:  22px;
--size-fs-xxs:  10px;
--size-fs-xxxl: 26px;
--size-fs-xxxs: 9px;
--size-fs-xxxxl:    32px;
--size-fs-xxxxs:    8px;
--size-fw-m:    400px;
--size-fw-l:    500px;
--size-fw-s:    300px;
--size-fw-xl:   700px;
--size-fw-xs:   200px;
--size-fw-xxl:  900px;
--size-fw-xxs:  100px;
--size-mg-m:    16px;
--size-mg-l:    20px;
--size-mg-s:    12px;
--size-mg-xl:   24px;
--size-mg-xs:   8px;
--size-mg-xxl:  28px;
--size-mg-xxs:  4px;
--size-pd-m:    12px;
--size-pd-l:    16px;
--size-pd-s:    8px;
--size-pd-xl:   20px;
--size-pd-xs:   4px;
--size-pd-xxl:  24px;
--size-pd-xxs:  0px;
--size-rd-m:    8px;
--size-rd-l:    10px;
--size-rd-s:    6px;
--size-rd-xl:   12px;
--size-rd-xs:   4px;
--size-rd-xxl:  14px;
--size-rd-xxs:  2px;
--size-btn-m:   32px;
--size-btn-l:   36px;
--size-btn-s:   28px;
--size-btn-xl:  40px;
--size-btn-xs:  24px;
--size-btn-xxl: 44px;
--size-btn-xxs: 20px;
--size-bar-m:   36px;
--size-bar-l:   40px;
--size-bar-s:   32px;
--size-bar-xl:  44px;
--size-bar-xs:  28px;
--size-bar-xxl: 48px;
--size-bar-xxs: 24px;
--size-icon-m:  20px;
--size-icon-l:  24px;
--size-icon-s:  16px;
--size-icon-xl: 28px;
--size-icon-xs: 12px;
--size-icon-xxl:    32px;
--size-icon-xxs:    8px;
--size-bd-m:    1px;
}


/**
 * 主题模块 vars 生成语句
 * 不要手动修改
 */

$font-fml-default:  "-apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Microsoft Yahei',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'";
$font-fml-code: "'Cascadia Code', 'Consolas', 'Courier New', 'Pingfang SC', 'Microsoft Yahei', monospace";
$font-fml-fangsong: "'Times New Roman', '仿宋'";
$font-fml-yahei:    "'微软雅黑', 'Microsoft Yahei'";
$font-fml-songti:   "'Times New Roman', '宋体'";
$ani-dura:  "0.3s";

:root {
--font-fml-default: -apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Microsoft Yahei',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
--font-fml-code:    'Cascadia Code', 'Consolas', 'Courier New', 'Pingfang SC', 'Microsoft Yahei', monospace;
--font-fml-fangsong:    'Times New Roman', '仿宋';
--font-fml-yahei:   '微软雅黑', 'Microsoft Yahei';
--font-fml-songti:  'Times New Roman', '宋体';
--ani-dura: 0.3s;
}





/**
 * 合并资源 base.scss
 * !! 不要手动修改 !!
 */

/** SPF-Theme 基础样式 SCSS **/
/** 此 SCSS 不处理 import 如需引入外部样式，应在 PRE.theme.json 中指定 styles.import 参数 **/

/** CGY-Theme 主题 SCSS 通用 @mixin/@extend 等定义 **/
/** !!! 不要手动修改 !!! **/


/** @function 20250124 **/
/** 根据输入的 $p 解析得到 left,right,top,bottom 列表 **/
/** $p 可选：x/y/xy/all/t/r/b/l/tr/tb/.../trb/trl/.../trbl **/
$trblQueue: x,y,t,r,b,l,tr,tb,tl,trb,trl,rb,rl,rbl,bl,all,xy,trbl;
@function trbl($p: all) {
    $cp: [];
    @if $p == all or $p == xy {
        $cp: top,right,bottom,left;
    } @else if $p == x {
        $cp: left,right;
    } @else if $p == y {
        $cp: top,bottom;
    } @else {
        @if str-index($p, t) != null { $cp: append($cp, top, comma); }
        @if str-index($p, r) != null { $cp: append($cp, right, comma); }
        @if str-index($p, b) != null { $cp: append($cp, bottom, comma); }
        @if str-index($p, l) != null { $cp: append($cp, left, comma); }
    }
    @return $cp;
}
/** 生成 img url，返回 url(...) 属性值 **/
@function icourl($icon: md-sharp-home, $fill: '', $pre: '/src/icon/') {
    @if $fill != '' {
        @if str-index($fill, '#') != null {
            //去除颜色 Hex 中的 #
            $fill: str-slice($fill, 2);
        }   
        $icon: #{$icon} + '?fill=' + #{$fill};
    }
    @return url('#{$pre}#{$icon}.svg');
}


/** @mixin 20250124 **/

/** color-shift **/
/** 根据 $list 颜色名称数组，为 当前类 或 后代类 指定颜色样式
    例如：
    .foo {
        @include color-shift(
            $pre:       bg-,
            $target:    child,
            $prop:      background-color,
            $ckey:      bg,
            $opa:       true
        );
    }
    编译后：
    .foo * { background-color: color-bg; }  //如果存在 color-{ckey}
    .foo .bg-l1 { background-color: color-bg-l1; }
    .foo .bg-l2 { background-color: color-bg-l2; }
    .foo .bg-l1-a1 { background-color: color-bg-l1-a1; }  //透明度循环
    .foo .bg-l1-a2 { background-color: color-bg-l1-a2; }
    .foo .bg-red { background-color: color-red; }
    .foo .bg-red-hover { background-color: color-red; }
    .foo .bg-red-hover:hover { background-color: color-red-l1; }
    .foo .bg-red-l1 { background-color: color-red-l1; }
    .foo .bg-red-l2 { background-color: color-red-l2; }
    .foo .bg-red-l1-a1 { background-color: color-red-l1-a1; }  //透明度循环
    .foo .bg-red-l1-a2 { background-color: color-red-l1-a2; }
    .foo .bg-blue { background-color: color-blue; }
    .foo .bg-blue-l1 { background-color: color-blue-l1; }
    .foo .bg-blue-l2 { background-color: color-blue-l2; }
    .foo .bg-blue-l1-a1 { background-color: color-blue-l1-a1; }  //透明度循环
    .foo .bg-blue-l1-a2 { background-color: color-blue-l1-a2; }
**/
@mixin color-shift(
    $pre:       fc-,                //样式类前缀，如：在 .fc 类中，则可以 fc- 为前缀
    $list:      $colorListAll,      //颜色名称 list 数组，默认 $colorListAll 通用色
    $cmap:      $colorMap,          //储存所有色值的 map，默认 $colorMap
    $cque:      $colorShiftQueue,   //储存所有颜色 shift 变化 lvl 的 list，如：l2,l1,d1,d2 默认 $colorShiftQueue
    $target:    self,               //此颜色样式应用到 self(当前引用的类) 或 child(当前引用类的后代类)，默认 self
    $prop:      color,              //要设置颜色的 css 属性，可选 color/border-color/background-color/... 默认 color
    $ckey:      fc,                 //$prop 属性的默认颜色名，如：background-color 的默认颜色名为 bgc ($color-bgc-*)
    $opa:       false,              //是否启用透明度，true 表示同时循环透明度
    $alist:     $colorListAlpha,    //定义的透明度级数序列，默认 a1~a9
    $amap:      $colorAlphaMap      //储存所有透明序列的 map，默认 $colorAlphaMap
) {
    @each $c in $list {
        @each $cq in $cque {
            /**
                针对 $pre 与 颜色名称相同的 情况
                例如 $pre = fc- 颜色列表中又包含了 fc-m 颜色，则会生成 .fc-fc-m 颜色类
                此处解决这个问题
            **/
            @if $ckey == $c {
                $ck: #{$cq};
                $ci: map-get($cmap, #{$c}-#{$cq});
            } @else {
                $ck: #{$c}-#{$cq};
                $ci: map-get($cmap, $ck);
            }
            @if $ci != null {
                @if $target == self {
                    //&.fc-red-m {}
                    &.#{$pre}#{$ck} { #{$prop}: #{$ci} !important; }
                } @else if $target == child {
                    //& .fc-primary-d3 {}
                    & .#{$pre}#{$ck} { #{$prop}: #{$ci} !important; }
                }
                @if $opa == true {
                    //通过主题系统自动生成的 colorMap 一定是 hex 形式
                    @each $ca in $alist {
                        $ai: map-get($amap, $ca);
                        @if $ai != null {
                            @if $target == self {
                                //&.fc-red-m-a6 {}
                                &.#{$pre}#{$ck}-#{$ca} { #{$prop}: #{$ci}#{$ai} !important; }
                            } @else if $target == child {
                                //& .fc-primary-d3-a2 {}
                                & .#{$pre}#{$ck}-#{$ca} { #{$prop}: #{$ci}#{$ai} !important; }
                            }
                        }
                    }
                }
            }
        }
        //:hover 默认使用 color-l1 级颜色
        $ci-hov: map-get($cmap, #{$c}-l1);
        //通过主题系统自动生成的 colorMap 一定包含 -m 原始颜色
        $ci-old: map-get($cmap, #{$c}-m);
        @if $ci-hov != null {
            @if $target == self {
                &.#{$pre}#{$c}-hoverable { 
                    //#{$prop}: #{$ci-old} !important; 
                    &:hover {
                        #{$prop}: #{$ci-hov} !important; 
                    }
                }
            } @else if $target == child {
                & .#{$pre}#{$c}-hoverable { 
                    //#{$prop}: #{$ci-old} !important; 
                    &:hover {
                        #{$prop}: #{$ci-hov} !important; 
                    }
                }
            }
        }
    }
}
/** size-shift **/
/** 根据 $list 可选尺寸数组(如：xs,s,m,l,xl)，为 后代类 指定尺寸样式 **/
@mixin size-shift(
    $pre:       gap-,               //样式类前缀，如：在 .gap 类中，则可以 gap- 为前缀
    $list:      $sizeShiftQueue,    //可选尺寸 list 数组，默认 $sizeShiftQueue 
    $smap:      $sizeMap,           //储存所有尺寸值的 map，默认 $sizeMap
    $target:    self,               //此颜色样式应用到 self(当前引用的类) 或 child(当前引用类的后代类)，默认 self
    $skey:      gap,                //在尺寸 map 中的键名前缀，如 gap / f / btn
    $prop:      padding,            //要设置尺寸的 css 属性，可选 padding/margin/... 默认 padding
    $maxsz:     36,                 //手动通过数值指定尺寸，默认最大 36 对应的尺寸为 36*2 = 72 px
    $trbl:      true                //是否自动循环输出 trbl position 参数
) {
    //主题系统生成的 sizeMap 一定包含 -m 原始尺寸
    @each $sz in $list {
        $si: map-get($smap, #{$skey}-#{$sz});
        @if $si != null {
            @if $target == self {
                &.#{$pre}#{$sz} {
                    #{$prop}: $si !important;
                }
            } @else if $target == child {
                & .#{$pre}#{$sz} {
                    #{$prop}: $si !important;
                }
            }
            @if $trbl == true {
                @each $pi in $trblQueue {
                    @if $target == self {
                        &.#{$pre}#{$pi}-#{$sz} {
                            @include size-po($size: #{$si}, $p: #{$pi}, $prop: #{$prop}, $important: true);
                        }
                    } @else if $target == child {
                        & .#{$pre}#{$pi}-#{$sz} {
                            @include size-po($size: #{$si}, $p: #{$pi}, $prop: #{$prop}, $important: true);
                        }
                    }
                }
            }
        }
    }
    @for $sz from 1 through $maxsz {
        $szi: $sz * 2;
        @if $target == self {
            &.#{$pre}#{$szi}px {
                #{$prop}: #{$szi}px !important;
            }
        } @else if $target == child {
            & .#{$pre}#{$szi}px {
                #{$prop}: #{$szi}px !important;
            }
        }
        @if $trbl == true {
            @each $pi in $trblQueue {
                @if $target == self {
                    &.#{$pre}#{$pi}-#{$szi}px {
                        @include size-po($size: #{$szi}px, $p: #{$pi}, $prop: #{$prop}, $important: true);
                    }
                } @else if $target == child {
                    & .#{$pre}#{$pi}-#{$szi}px {
                        @include size-po($size: #{$szi}px, $p: #{$pi}, $prop: #{$prop}, $important: true);
                    }
                }
            }
        }
    }
}
/** 根据输入的 trbl 设置不同 position 位置的 size **/
/** $p 可选值：$trblQueue **/
@mixin size-po(
    $size: unset,       //要设置的尺寸 
    $p: '',             //要设置尺寸值的 position 位置，可选值：$trblQueue，默认不指定，表示所有位置
    $prop: padding,     //要设置尺寸值的 css 属性，默认 padding，可选 padding/margin
    $important: false   //是否增加 important
) {
    @if $p != '' {
        $pa: trbl($p);
        @each $pi in $pa {
            @if $important == true {
                #{$prop}-#{$pi}: $size !important;
            } @else {
                #{$prop}-#{$pi}: $size;
            }
        }
    } @else {
        @if $important == true {
            #{$prop}: $size !important;
        } @else {
            #{$prop}: $size;
        }
    }
}

/** position **/
@mixin po($po: relative, $w: 100%, $h: unset, $mg: 0, $pd: 0, $l: unset, $t: unset, $r: unset, $b: unset, $ov: unset) {
    position: $po; margin: $mg; padding: $pd; 
    @if $w != unset { width: $w; }
    @if $h != unset { height: $h; }
    @if $l != unset { left: $l; }
    @if $r != unset { right: $r; }
    @if $t != unset { top: $t; }
    @if $b != unset { bottom: $b; }
    @if $ov != unset { overflow: $ov; }
    box-sizing: border-box;
}
@mixin po-ov($po: relative, $w: 100%, $h: unset, $mg: 0, $pd: 0, $l: unset, $t: unset, $r: unset, $b: unset, $ov: hidden) {
    @include po($po:#{$po}, $w:#{$w}, $h:#{$h}, $mg:#{$mg}, $pd:#{$pd}, $l:#{$l}, $r:#{$r}, $t:#{$t}, $b:#{$b}, $ov:#{$ov});
}
@mixin po-abs($w: 100%, $h: unset, $mg: 0, $pd: 0, $l: 0, $t: 0, $r: unset, $b: unset, $ov: hidden) {
    @include po($po: absolute, $w:#{$w}, $h:#{$h}, $mg:#{$mg}, $pd:#{$pd}, $l:#{$l}, $r:#{$r}, $t:#{$t}, $b:#{$b}, $ov:#{$ov});
}
@mixin po-fix($w: 100%, $h: unset, $mg: 0, $pd: 0, $l: 0, $t: 0, $r: unset, $b: unset, $ov: hidden) {
    @include po($po: fixed, $w:#{$w}, $h:#{$h}, $mg:#{$mg}, $pd:#{$pd}, $l:#{$l}, $r:#{$r}, $t:#{$t}, $b:#{$b}, $ov:#{$ov});
}

/** flex **/
@mixin flex($dir: row, $x: flex-start, $y: center, $gap: unset) {
    display: flex; flex-direction: $dir;
    @if $dir == row {
        align-items: $y; justify-content: $x;
    } @else {
        align-items: $x; justify-content: $y;
    }
    &>*, &>view {
        flex-shrink: 0;
        @if $gap != unset {
            $side: right;
            @if $dir == column { $side: bottom; }
            margin-#{$side}: $gap;
            &:last-child {
                margin-#{$side}: 0;
            }
        }
    }
    @for $i from 1 through 4 {
        &>.flex-#{$i} {
            $wh: width;
            @if $dir == column { $wh: height; }
            #{$wh}: unset;
            flex: $i;
        }
    }
    &.flex-x-center {
        @if $dir == row {
            justify-content: center;
        } @else {
            align-items: center;
        }
    }
    &.flex-y-center {
        @if $dir == row {
            align-items: center;
        } @else {
            justify-content: center;
        }
    }
    &.flex-x-start {
        @if $dir == row {
            justify-content: flex-start;
        } @else {
            align-items: flex-start;
        }
    }
    &.flex-y-start {
        @if $dir == row {
            align-items: flex-start;
        } @else {
            justify-content: flex-start;
        }
    }
    &.flex-x-end {
        @if $dir == row {
            justify-content: flex-end;
        } @else {
            align-items: flex-end;
        }
    }
    &.flex-y-end {
        @if $dir == row {
            align-items: flex-end;
        } @else {
            justify-content: flex-end;
        }
    }
    &.flex-x-stretch {
        @if $dir == row {
            justify-content: stretch;
        } @else {
            align-items: stretch;
        }
    }
    &.flex-y-stretch {
        @if $dir == row {
            align-items: stretch;
        } @else {
            justify-content: stretch;
        }
    }
}
@mixin flex-x($x: flex-start, $y: center, $gap: unset) {
    @include flex($dir: row, $x:#{$x}, $y:#{$y}, $gap:#{$gap});
}
@mixin flex-y($x: flex-start, $y: flex-start, $gap: unset) {
    @include flex($dir: column, $x:#{$x}, $y:#{$y}, $gap:#{$gap});
}

/** font **/
@mixin fo($sz: $size-fs-m, $c: $color-fc-m, $w: normal, $fml: $font-fml-default, $sty: unset) {
    font: {
        family: $fml;
        size: $sz;
        weight: $w;
    }
    color: $c;
    @if $sty != unset { font-style: $sty; }
}
/**
    设置 self|child 中 font 相关样式
    支持尺寸自动序列
**/
@mixin fo-shift(
    $target:    self
) {
    //color-shift
    @include color-shift($pre: f-, $target: #{$target}, $prop: color, $ckey: fc);
    //size-shift
    @include size-shift($pre: f-, $target: #{$target}, $skey: fs, $prop: font-size, $trbl: false);
    
    @if $target == self {
        //weight-shift
        &.f-bold { font-weight: bold !important; }
        &.f-thin { font-weight: 200 !important; }
        @for $i from 1 through 9 {
            $b: $i * 100;
            &.f-w#{$b} { font-weight: $b !important; }
        }
        //font-family
        &.f-fml-default {font-family: $font-fml-default !important;}
        &.f-fml-code {font-family: $font-fml-code !important;}
        &.f-fml-yahei {font-family: $font-fml-yahei !important;}
        &.f-fml-songti {font-family: $font-fml-songti !important;}
        &.f-fml-fangsong {font-family: $font-fml-fangsong !important;}
    } @else if $target == child {
        //weight-shift
        & .f-bold { font-weight: bold !important; }
        & .f-thin { font-weight: 200 !important; }
        @for $i from 1 through 9 {
            $b: $i * 100;
            & .f-w#{$b} { font-weight: $b !important; }
        }
        //font-family
        & .f-fml-default {font-family: $font-fml-default !important;}
        & .f-fml-code {font-family: $font-fml-code !important;}
        & .f-fml-yahei {font-family: $font-fml-yahei !important;}
        & .f-fml-songti {font-family: $font-fml-songti !important;}
        & .f-fml-fangsong {font-family: $font-fml-fangsong !important;}
    }
}

/** border **/
/** $p 可选值：$trblQueue **/
@mixin bd($c: $color-bdc-m, $sz: 1px, $sty: solid, $p: trbl) {
    border: {
        color: $c;
        style: $sty;
        width: 0;
    }
    $pa: trbl($p);
    @each $i in $pa {
        border-#{$i}-width: $sz;
    }
}
@mixin bd-shift {
    //color-shift
    @include color-shift($pre: bd-, $target: self, $prop: border-color, $ckey: bd);
    @each $pi in $trblQueue {
        &.bd-#{$pi} {
            $pa: trbl($pi);
            @each $i in $pa {
                border-#{$i}-width: 1px;
            }
            &.bd-bold {
                @each $i in $pa {
                    border-#{$i}-width: 2px;
                }
            }
        }
    }
}
@mixin bd-in {
    & [class*=bd-] {
        border: {
            color: $color-bdc-m;
            style: solid;
            width: 0;
        }
    }

    //color-shift
    @include color-shift($pre: bd-, $target: child, $prop: border-color, $ckey: bd);
    @each $pi in $trblQueue {
        & .bd-#{$pi} {
            $pa: trbl($pi);
            @each $i in $pa {
                border-#{$i}-width: 1px;
            }
            &.bd-bold {
                @each $i in $pa {
                    border-#{$i}-width: 2px;
                }
            }
        }
    }
    
}

/** background **/
@mixin bg($c: $color-bgc-m, $opa: 1) {
    background-color: $c;
    @if $opa < 1 {
        background-color: rgba($c, $opa);
    }
}
@mixin bg-shift {
    //color-shift
    @include color-shift($pre: bg-, $target: self, $prop: background-color, $ckey: bg, $opa: true);
}
@mixin bg-in {
    //color-shift
    @include color-shift($pre: bg-, $target: child, $prop: background-color, $ckey: bg, $opa: true);
    //hover
    & .bg-hover {
        background-color: transparent !important;
        &:hover {
            background-color: $color-bgc-l2 !important;
        }
    }
}
@mixin bg-blur($c: $color-bgc-m, $opa: 0.8, $blur: $size-filter-blur) {
    @include bg($c:$c, $opa:$opa);
    backdrop-filter: blur($blur);
}

/** margin/padding **/
/** $p 可选值：$trblQueue **/
@mixin pd-in {
    @include size-shift($pre: pd-, $skey: gap, $prop: padding);
}
@mixin mg-in {
    @include size-shift($pre: mg-, $skey: gap, $prop: margin);
}

/** shadow **/
@mixin shadow($x: 4px, $y: 8px, $blur: 16px, $opa: "l1") {
    $sc-key: "shadow";
    @if ($opa!="") {
        $sc-key: shadow-#{$opa};
    }
    $shadow-color: map-get($colorMap, $sc-key);
    box-shadow: #{$x} #{$y} #{$blur} #{$shadow-color};
}



/** other **/
@mixin nicescroll($size: 0, $radius: 0, $bgc: transparent, $bgc-hover: $color-bdc-d1, $ov: hidden overlay, $behavior: smooth) {
    overflow: $ov;
    scroll-behavior: $behavior;
    &::-webkit-scrollbar {width: $size; height: $size;}
    &::-webkit-scrollbar-thumb  {
        background-color: $bgc;
        transition: all .3s;
    }
    &:hover::-webkit-scrollbar-thumb  {background-color: $bgc-hover;}
    &::-webkit-scrollbar-track {background-color: transparent; }
    &::-webkit-scrollbar-thumb  {border-radius: $radius;}
}
@mixin text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@mixin trans($items: all, $dura: $ani-trans-dura) {
    @if $items == all {transition: all $dura; }
    @if $items != all {
        @each $item in $items {
            transition: $item $dura;
        }
    }
}



/** 初始化 body 样式 **/
body, view, .page {
    margin: 0; padding: 0;
    @include fo;
    @include bg($c: $color-bgc-l3);
    @include fo-shift($target: child);
    @include bd-in;
    @include bg-in;
    @include pd-in;
    @include mg-in;

    .flex-x {
        @include flex-x;
    }
    .flex-y {
        @include flex-y;
    }

    .ellipsis {
        @include text-ellipsis;
    }
}

[v-cloak] {
    display: none !important;
}

.__PRE__-foo-bar {
    @include po-abs;
}






/**
 * 合并资源 temp_default.scss
 * !! 不要手动修改 !!
 */




/**
 * 合并资源 base.scss
 * !! 不要手动修改 !!
 */

.__PRE__-vcom-base {
    width: $size-btn-m;
}



/**
 * 合并资源 icon.scss
 * !! 不要手动修改 !!
 */

.__PRE__-icon {
    width: 1em; height: 1em;
    //vertical-align: -0.15em;
    //margin-top: 0.05em;
    fill: currentColor;
    overflow: hidden;
    transition: all $ani-dura;

    &.icon-m {font-size: $size-icon-m;}
    @each $sz in xxs,xs,s,l,xl,xxl {
        &.icon-#{$sz} {
            font-size: map-get($sizeMap, icon-#{$sz});
        }
    }
    @each $sz in 48,54,64,72,88,96 {
        &.icon-#{$sz}px {
            font-size: #{$sz}px;
        }
    } 

    @each $cli in $colorListAll {
        &.icon-#{$cli} {
            color: map-get($colorMap, #{$cli}-m);
        }
    }

    @each $cli in d2,d1,l1,l2,l3 {
        &.icon-fc-#{$cli} {
            color: map-get($colorMap, fc-#{$cli});
        }
    }
}



/**
 * 合并资源 foo.scss
 * !! 不要手动修改 !!
 */

.__PRE__-foo-base {
    display: none;
}





