// __PRE__-icon|icon-logo 组件公用样式
.__PRE__-icon, .__PRE__-icon-logo {
    width: 1em; height: 1em;
    //vertical-align: -0.15em;
    //margin-top: 0.05em;
    fill: currentColor;
    overflow: hidden;
    transition: all $ani-dura;

    //默认 size
    font-size: $size-icon-m;

    //尺寸循环 
    @include spf-size-shift(self, 'icon-', font-size, icon, $extraIconSizeQueue, false);
}

// __PRE__-icon 组件样式
.__PRE__-icon {
    //默认 color
    color: $color-fc-m;

    //颜色循环 引用 .fc-*
    @include spf-color-extend(self, icon-, fc-, fc, (white,black), (l1,m,d1));
}

// __PRE__-icon-logo 组件样式
.__PRE__-icon-logo {
    //默认 长方形 logo
    width: auto; 

    //正方形
    &.icon-square {
        width: 1em;
    }

    //单色 logo
    &.icon-single-color {
        //& * {
            //让填充色继承外部的 color 值
            fill: currentColor !important;
            //让描边色也继承（如果 SVG 有描边）
            stroke: currentColor !important;
            //清除所有内部的颜色相关属性
            stroke-color: unset !important;
            fill-opacity: 1 !important;
            stroke-opacity: 1 !important;
        //}

        //颜色循环 引用 .fc-*
        @include spf-color-extend(self, icon-, fc-, fc, (white,black), (l1,m,d1));
    }
}

