/**
 * SPF-Theme 主题系统配套 scss
 * 此 SCSS 不处理 import 如需引入外部样式，应在 *.theme.json 中指定 styles.import 参数
 * !! 不要手动修改 !!
 * 
 * SPF-Theme 主题系统变量：
 *      $colorListAll                       全部颜色名称 list：red,orange,yellow,...,fc,bgc,bdc,...,primary,...
 *      $colorListBase|Static|Custom...     不同类型的 颜色名称 list
 *      $colorShiftQueue                    d3,d2,d1,m,l1,l2,l3
 *      $colorMap                           包含所有颜色定义的 map
 *      $typeList                           primary,danger,warn,success,info
 *      $effectList                         normal,fill,plain,popout
 *      $sizeMap                            包含所有尺寸定义的 map
 *      $sizeShiftQueue                     xxs,xs,s,m,l,xl,xxl
 *      $sizeStrQueue                       huge,large,medium,normal,small,mini,tiny
 *      $sizeStrMap                         尺寸字符串 与 m|xl 映射 map
 *      $extra[Icon|Btn]SizeQueue           icon|btn 额外的尺寸序列 48,54,64,...,128
 *      $shapeList                          normal,pill,sharp
 *      $varsMap                            保存所有其他 css 变量的 map
 */

/**
 * !! 检查是否存在 ScssPhp v1.12.1 补丁文件
 */
 $is-patched: variable-exists(unitMap);



/** 通用样式注入 mixins **/

/** 基础样式注入 position|width|padding|overflow ... **/
@mixin spf-po($po: relative, $w: 100%, $h: unset, $mg: 0, $pd: 0, $t: unset, $r: unset, $b: unset, $l: unset, $ov: unset) {
    position: $po;
    @if $w != unset { width: size-get($w); }
    @if $h != unset { height: size-get($h); }
    @if $mg != unset { margin: size-get($mg); }
    @if $pd != unset { padding: size-get($pd); }
    @if $l != unset { left: size-get($l); }
    @if $r != unset { right: size-get($r); }
    @if $t != unset { top: size-get($t); }
    @if $b != unset { bottom: size-get($b); }
    @if $ov != unset { overflow: $ov; }
    box-sizing: border-box;
}
@mixin spf-po-ov($po: relative, $w: 100%, $h: unset, $mg: 0, $pd: 0, $t: unset, $r: unset, $b: unset, $l: unset, $ov: hidden) {
    @include spf-po($po, $w, $h, $mg, $pd, $t, $r, $b, $l, $ov);
}
@mixin spf-po-abs($w: 100%, $h: unset, $mg: 0, $pd: 0, $t: 0, $r: unset, $b: unset, $l: 0, $ov: hidden) {
    @include spf-po(absolute, $w, $h, $mg, $pd, $t, $r, $b, $l, $ov);
}
@mixin spf-po-fix($w: 100%, $h: unset, $mg: 0, $pd: 0, $t: 0, $r: unset, $b: unset, $l: 0, $ov: hidden) {
    @include spf-po(fixed, $w, $h, $mg, $pd, $t, $r, $b, $l, $ov);
}
/** 基础样式注入 根据输入的 trbl 设置不同 position 位置的 padding/margin/border-width size **/
/** $p 可选值：$trblQueue **/
@mixin spf-size-po(
    $size:      unset,              //要设置的尺寸 
    $p:         '',                 //要设置尺寸值的 position 位置，可选值：$trblQueue，默认不指定，表示所有位置
    $prop:      padding,            //要设置尺寸值的 css 属性，默认 padding，可选 padding/margin/border-width
    $important: false               //是否增加 important
) {
    @if $p != '' {
        $pa: trbl($p);
        @if is-list($pa) {
            @each $pi in $pa {
                $pk: #{$prop}-#{$pi};
                @if $prop == border-width {
                    $pk: border-#{$pi}-width;
                }
                @if $important == true {
                    #{$pk}: $size !important;
                } @else {
                    #{$pk}: $size;
                }
            }
        }
    } @else {
        @if $important == true {
            #{$pk}: $size !important;
        } @else {
            #{$pk}: $size;
        }
    }
}
/** 基础样式注入 根据输入的 corner 设置不同位置的 radius size **/
/** $r 可选值：$cornerQueue **/
@mixin spf-size-rd(
    $size:      unset,              //要设置的尺寸 
    $r:         '',                 //要设置尺寸值的 corner 位置，可选值：$cornerQueue，默认不指定，表示所有位置
    $important: false               //是否增加 important
) {
    @if $r != '' {
        $ra: corner($r);
        @if is-list($ra) {
            @each $ri in $ra {
                $prop: border-#{$ri}-radius;
                @if $important == true {
                    #{$prop}: $size !important;
                } @else {
                    #{$prop}: $size;
                }
            }
        }
    } @else {
        @if $important == true {
            border-radius: $size !important;
        } @else {
            border-radius: $size;
        }
    }
}
/** 基础样式注入 flex 布局 **/
@mixin spf-flex($dir: row, $x: flex-start, $y: center, $gap: unset) {
    display: flex; flex-direction: $dir;
    @if $dir == row {
        align-items: $y; justify-content: $x;
    } @else {
        align-items: $x; justify-content: $y;
    }

    @for $i from 1 through 8 {
        &>.flex-#{$i} {
            $wh: if($dir == column, height, width);
            #{$wh}: unset;
            flex: $i;
        }
    }

    &.flex-no-shrink {
        &>*, &>view {
            flex-shrink: 0;
        }
    }

    &.flex-with-gap {
        $gap-side: if($dir == column, top, left);
        @if $gap != unset {
            &>*, &>view {
                &:not(:first-child) {
                    margin-#{$gap-side}: $gap;
                }
            }
        }
        @each $qi in $sizeShiftQueue {
            $gapi: size-get(str('mg-',$qi));
            @if $gapi != null {
                &.flex-gap-#{$qi} {
                    &>*, &>view {
                        &:not(:first-child) {
                            margin-#{$gap-side}: $gapi;
                        }
                    }
                }
            }
        }
    }

    &.flex-center {justify-content: center; align-items: center;}
    &.flex-start {justify-content: flex-start; align-items: flex-start;}
    &.flex-end {justify-content: flex-end; align-items: flex-end;}
    &.flex-stretch {justify-content: stretch; align-items: stretch;}

    &[class*=flex-x-] {
        $prop: if($dir == column, align-items, justify-content);
        &[class*=x-center] {#{$prop}: center;}
        &[class*=x-start] {#{$prop}: flex-start;}
        &[class*=x-end] {#{$prop}: flex-end;}
        &[class*=x-stretch] {#{$prop}: stretch;}
    }
    &[class*=flex-y-] {
        $prop: if($dir == row, align-items, justify-content);
        &[class*=y-center] {#{$prop}: center;}
        &[class*=y-start] {#{$prop}: flex-start;}
        &[class*=y-end] {#{$prop}: flex-end;}
        &[class*=y-stretch] {#{$prop}: stretch;}
    }
}
@mixin spf-flex-x($x: flex-start, $y: center, $gap: unset) {
    @include spf-flex(row, $x, $y, $gap);
}
@mixin spf-flex-y($x: flex-start, $y: flex-start, $gap: unset) {
    @include spf-flex(column, $x, $y, $gap);
}
/** 基础样式注入 text-ellipsis 样式 **/
@mixin spf-text-ellipsis() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/** 基础样式注入 模拟移动端滚动条效果 **/
@mixin spf-scroll(
    $size:      6px,            //滚动条宽度
    $fc:        bdc-d1,         //滚动条背景色，传入可通过 color-get 方法获取色值的 颜色键名|transparent
    $fc-hover:  bdc-d2,         //滚动条悬停背景色，传入可通过 color-get 方法获取色值的 颜色键名|transparent
    $bgc:       transparent,    //滚动轨道背景色，传入可通过 color-get 方法获取色值的 颜色键名|transparent
    $ov:        hidden auto,    //垂直|水平 滚动条显示
    $round:     false,          //滚动条是否圆角
    $behavior:  smooth
) {
    $fcv: color-get($fc);
    $fchv: color-get($fc-hover);
    $bgcv: color-get($bgc);

    overflow: $ov;
    scroll-behavior: $behavior;
    /* 滚动条占位宽度 = 0，内容区域 100 % */
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
        width: $size; 
        height: $size;
    }
    &::-webkit-scrollbar-track {background-color: $bgcv;}
    &::-webkit-scrollbar-thumb  {
        background-color: $fcv;
        cursor: ns-resize;
        transition: all .3s;

        @if $round == true {
            border-radius: $size / 2;
        }

        &:hover {background-color: $fchv;}
    }
    &::-webkit-scrollbar:horizontal {
        cursor: ew-resize;
    }

    /* iOS 惯性回弹必备 */
    //-webkit-overflow-scrolling: touch;
    /* 可选：隐藏系统默认箭头按钮 */
    //scrollbar-width: none;   /* Firefox 直接变窄，不占位 */
}



/** 批量注入样式 **/

/** 根据 $list 颜色名称数组，为 当前类 或 后代类 指定颜色样式
    例如：
    .foo {
        @include spf-color-shift(
            $pre:       bg-,
            $target:    child,
            $prop:      background-color,
            $ckey:      bg,
            $opa:       true
        );
    }
    编译后：
    .foo * { background-color: color-bg; }  //如果存在 color-{ckey}
    .foo .bg-l1 { background-color: color-bg-l1; }
    .foo .bg-l2 { background-color: color-bg-l2; }
    .foo .bg-l1-a1 { background-color: color-bg-l1-a1; }  //透明度循环
    .foo .bg-l1-a2 { background-color: color-bg-l1-a2; }
    .foo .bg-red { background-color: color-red; }
    .foo .bg-red-hover { background-color: color-red; }
    .foo .bg-red-hover:hover { background-color: color-red-l1; }
    .foo .bg-red-l1 { background-color: color-red-l1; }
    .foo .bg-red-l2 { background-color: color-red-l2; }
    .foo .bg-red-l1-a1 { background-color: color-red-l1-a1; }  //透明度循环
    .foo .bg-red-l1-a2 { background-color: color-red-l1-a2; }
    .foo .bg-blue { background-color: color-blue; }
    .foo .bg-blue-l1 { background-color: color-blue-l1; }
    .foo .bg-blue-l2 { background-color: color-blue-l2; }
    .foo .bg-blue-l1-a1 { background-color: color-blue-l1-a1; }  //透明度循环
    .foo .bg-blue-l1-a2 { background-color: color-blue-l1-a2; }
**/
@mixin spf-color-shift(
    $target:    self,               //此颜色样式应用到 self(当前引用的类) 或 child(当前引用类的后代类)，默认 self
    $pre:       fc-,                //新增颜色样式的类前缀，如：fc- 则 生成类：.foo.fc-red-m | .foo .fc-red-m
    $prop:      color,              //要设置颜色的 css 属性，可选 color/border-color/background-color/... 默认 color
    $ckey:      fc,                 //$prop 属性的默认颜色名，如：background-color 的默认颜色名为 bgc ($color-bgc-*)
    $opa:       false,              //是否启用透明度，true 表示同时循环透明度
    $filter:    null                //是否在 colorMap 中筛选部分颜色值 作为循环数据源  颜色键名(前缀) list
) {
    
    $list:      $colorListAll;      //颜色名称 list 数组，默认 $colorListAll 通用色
    $cque:      $colorShiftQueue;   //储存所有颜色 shift 变化 lvl 的 list，如：l2,l1,d1,d2 默认 $colorShiftQueue
    //$alist:     $colorListAlpha;    //定义的透明度级数序列，默认 a1~a9
    //$amap:      $colorAlphaMap;     //储存所有透明序列的 map，默认 $colorAlphaMap
    //储存 所有|筛选部分 色值的 map，默认 $colorMap
    $cmap:      if(no-list($filter), $colorMap, exmap-filter-keys($colorMap, $filter));

    @each $c in $list {
        @each $cq in $cque {
            /**
             *  针对 $pre 与 颜色名称相同的 情况
             *  例如 $pre = fc- 颜色列表中又包含了 fc-m 颜色，则会生成 .fc-fc-m 颜色类
             *  此处解决这个问题
             */
            @if $ckey == $c {
                $ck: #{$cq};
                $ci: color-get(str($c,'-',$cq), $cmap);
            } @else {
                $ck: #{$c}-#{$cq};
                $ci: color-get(str($ck), $cmap);
            }
            @if $ci != null {
                @if $target == self {
                    &.#{$pre}#{$ck} { #{$prop}: #{$ci} !important; }
                } @else if $target == child {
                    & .#{$pre}#{$ck} { #{$prop}: #{$ci} !important; }
                }
                /** 判断 $ci 颜色值是否自带 透明度 自带透明度的颜色不执行透明度循环 **/
                /** 通过主题系统自动生成的 colorMap 一定是 hex 形式 **/
                /*@if $opa == true and has-alpha($ci) != true {
                    //透明度 a1~a9 --> alpha = 0.1~0.9
                    @for $i from 1 through 9 {
                        $ca: a#{$i};
                        $cav: color-alpha($ci, $i, 0.1);
                        @if $target == self {
                            //&.fc-red-m-a6 {}
                            &.#{$pre}#{$ck}-#{$ca} { #{$prop}: $cav !important; }
                        } @else if $target == child {
                            //& .fc-primary-d3-a2 {}
                            & .#{$pre}#{$ck}-#{$ca} { #{$prop}: $cav !important; }
                        }
                    }
                }*/
            }

            /** 针对 color-m 级别的颜色 自动通过 pre-hoverable 增加悬停翻转颜色样式 **/
            @if $cq == 'm' {
                /** hover 默认使用 color-l1 级颜色 **/
                $ci-hov: color-get(str($c,'-l1'), $cmap);
                @if $ci-hov != null {
                    @if $target == self {
                        &.#{$pre}#{$ck}.#{$pre}hoverable { 
                            &:hover {
                                #{$prop}: #{$ci-hov} !important; 
                            }
                        }
                    } @else if $target == child {
                        & .#{$pre}#{$ck}.#{$pre}hoverable { 
                            &:hover {
                                #{$prop}: #{$ci-hov} !important; 
                            }
                        }
                    }
                }
            }
        }
    }
}
/** size-shift **/
/** 根据 $list 可选尺寸数组(如：xs,s,m,l,xl)，为 当前类 或 后代类 指定尺寸样式 **/
@mixin spf-size-shift(
    $target:    self,               //此颜色样式应用到 self(当前引用的类) 或 child(当前引用类的后代类)，默认 self
    $pre:       pd-,                //样式类前缀，如：pd- 则生成类：.foo.pd-xxl | .foo .pd-xs
    $prop:      padding,            //要设置尺寸的 css 属性，可选 padding/margin/font-size/border-width/border-radius... 默认 padding
    $skey:      pd,                 //在尺寸 map 中的键名前缀，如 fs|pd|mg|rd|btn...
    $manual:    null,               //手动通过数值指定尺寸 list 如：24,32,48,54
    $trbl:      true,               //是否自动循环输出 trbl position 参数
    $filter:    null                //是否在 sizeMap 中筛选部分尺寸值 作为循环数据源  尺寸键名(前缀) list
) {
    //需要执行 位置循环的 $prop list
    $props: padding,margin,border-width,border-radius;
    //根据 filter 筛选部分 尺寸值
    $smap: if(no-list($filter), $sizeMap, exmap-filter-keys($sizeMap, $filter));

    //主题系统生成的 sizeMap 一定包含 -m 原始尺寸
    $msz: size-get(str($skey, '-m'), $smap);
    //获取当前尺寸值序列的单位 如：px 主题系统生成的 sizeMap 相同键名一定拥有相同单位
    $mu: if(no-num($msz), '', unit($msz));

    @each $sz in $sizeShiftQueue {
        $si: size-get(str($skey,'-',$sz), $smap);
        @if $si != null {
            @if $target == self {
                &.#{$pre}#{$sz} {
                    #{$prop}: $si !important;
                }
            } @else if $target == child {
                & .#{$pre}#{$sz} {
                    #{$prop}: $si !important;
                }
            }
            /** 对于某些 prop 还需要执行 位置循环 **/
            @if $trbl == true and has($props, $prop, true) {
                @if $prop == border-radius {
                    /** 针对 radius 执行特殊循环 **/
                    @each $ri in $cornerQueue {
                        @if $target == self {
                            //&.rd-xs.rd-tl
                            &.#{$pre}#{$sz}.#{$pre}#{$ri} {
                                @include spf-size-rd($si, $ri, true);
                            }
                        } @else if $target == child {
                            //& .rd-xs.rd-br
                            & .#{$pre}#{$sz}.#{$pre}#{$ri} {
                                @include spf-size-rd($si, $ri, true);
                            }
                        }
                    }
                } @else {
                    /** 正常的 trbl 循环 **/
                    @each $pi in $trblQueue {
                        @if $target == self {
                            //&.pd-xs.pd-tbl
                            &.#{$pre}#{$sz}.#{$pre}#{$pi} {
                                @include spf-size-po($si, $pi, $prop, true);
                            }
                        } @else if $target == child {
                            //& .pd-xs.pd-tbl
                            & .#{$pre}#{$sz}.#{$pre}#{$pi} {
                                @include spf-size-po($si, $pi, $prop, true);
                            }
                        }
                    }
                }
            }
        }
    }

    //通过手动传入尺寸值，来设置尺寸样式
    @if is-list($manual) {
        @each $sz in $manual {
            @if $target == self {
                &.#{$pre}#{$sz}#{$mu} {
                    #{$prop}: #{$sz}#{$mu} !important;
                }
            } @else if $target == child {
                & .#{$pre}#{$sz}#{$mu} {
                    #{$prop}: #{$sz}#{$mu} !important;
                }
            }
            /** 对于某些 prop 还需要执行 位置循环 **/
            @if $trbl == true and has($props, $prop, true) {
                @if $prop == border-radius {
                    /** 针对 radius 执行特殊循环 **/
                    @each $ri in $cornerQueue {
                        @if $target == self {
                            //&.rd-16px.rd-tl
                            &.#{$pre}#{$sz}#{$mu}.#{$pre}#{$ri} {
                                @include spf-size-rd(#{$sz}#{$mu}, $ri, true);
                            }
                        } @else if $target == child {
                            //& .rd-16px.rd-br
                            & .#{$pre}#{$sz}#{$mu}.#{$pre}#{$ri} {
                                @include spf-size-rd(#{$sz}#{$mu}, $ri, true);
                            }
                        }
                    }
                } @else {
                    /** 正常的 trbl 循环 **/
                    @each $pi in $trblQueue {
                        @if $target == self {
                            //&.pd-xs.pd-tbl
                            &.#{$pre}#{$sz}#{$mu}.#{$pre}#{$pi} {
                                @include spf-size-po(#{$sz}#{$mu}, $pi, $prop, true);
                            }
                        } @else if $target == child {
                            //& .pd-xs.pd-tbl
                            & .#{$pre}#{$sz}#{$mu}.#{$pre}#{$pi} {
                                @include spf-size-po(#{$sz}#{$mu}, $pi, $prop, true);
                            }
                        }
                    }
                }
            }
        }
    }
}
/** 为 当前类 或 后代类 指定 通用的字体样式 **/
@mixin spf-fo-shift($target: self, $manual: (24,32,48,54,64,72,80,96,128)) {
    $prop-pre: if($target == self, unquote("&."), unquote("& ."));
    //颜色循环 .fc-red-m .fc-primary-d3
    @include spf-color-shift($target, 'fc-', color, fc);
    //尺寸循环 .fs-m .fs-xl .fs-32px 
    @include spf-size-shift($target, 'fs-', font-size, fs, $manual, false);
    //字重循环 .fw-xl .fw-m
    @include spf-size-shift($target, 'fw-', font-weight, fw, (100,200,300,400,500,600,700,800,900), false);
    //字重快捷类 .fw-normal|bold|thin
    #{$prop-pre}fw-normal { font-weight: $size-fw-m !important; }
    #{$prop-pre}fw-bold { font-weight: $size-fw-xl !important; }
    #{$prop-pre}fw-thin { font-weight: $size-fw-xs !important; }
    //字体族 .fml-default|code...
    $fmls: exmap-filter-keys($varsMap, (font-fml));
    $fmlks: exmap-keys($fmls);
    @each $k in $fmlks {
        //font-fml-foobar --> fml-foobar
        $ki: str-slice($k, 6);
        $kv: exmap-get($fmls, $k);
        #{$prop-pre}#{$ki} {font-family: unquote($kv) !important;}
    }

    //其他通用字体样式
    //链接字体样式 .f-a
    #{$prop-pre}f-a {
        color: $color-primary-m;
        text-decoration: underline;
        text-underline-offset: 0.3em;
        transition: color $ani-dura,
                    text-underline-offset .1s;
        &:hover {
            color: $color-primary-d1;
            text-underline-offset: 0.2em;
        }
    }
    //高亮字体 .f-highlight
    #{$prop-pre}f-highlight {
        box-sizing: border-box;
        padding: .2em .3em !important;
        margin: 0 .3em !important;
        border: {
            radius: .2em !important;
            width: 0 !important;
        }
        background-color: $color-warn-l3 !important;
        color: $color-warn-l3-fc !important;
        &.hl-border {
            border: {
                width: 1px !important;
                color: $color-warn-l2 !important;
            }
        }
        @each $hc in $typeList {
            $hcv: color-get(str($hc,'-l3'));
            $hfcv: color-get(str($hc,'-l3-fc'));
            $hbcv: color-get(str($hc,'-l2'));
            @if $hcv != null {
                &.hl-#{$hc} {
                    background-color: $hcv !important;
                    color: $hfcv !important;
                    &.hl-border {
                        border-color: $hbcv !important;
                    }
                }
            }
        }
    }
    //codex 代码字体
    #{$prop-pre}f-code {
        padding: .2em .3em !important;
        margin: 0 .3em !important;
        border: {
            radius: .2em !important;
            width: 0 !important;
        }
        background-color: $color-gray-l3 !important;
        color: $color-primary-d3 !important;
        font-family: $font-fml-code;
    }
    //.f-ellipsis
    #{$prop-pre}f-ellipsis {
        @include spf-text-ellipsis;
    }
}
/** 为 当前类 或 后代类 指定 通用的边框样式 可手动指定 border-width|radius 尺寸 list **/
@mixin spf-bd-shift($target: self, $width: null, $radius: null) {
    $prop-pre: if($target == self, unquote("&"), unquote("& "));
    //颜色循环 .bdc-red-d2 .bdc-m
    @include spf-color-shift($target, 'bdc-', border-color, bdc);
    #{$prop-pre}[class*=bdc-] {
        border: {
            style: solid;
            width: $size-bd-m;
        }
    }
    //尺寸循环|位置循环 .bd-m .bd-m.bd-rl .bd-m.bd-xy
    @include spf-size-shift($target, 'bd-', border-width, bd, $width);
    #{$prop-pre}[class*=bd-] {
        border: {
            style: solid;
            color: $color-bdc-m;
        }
    }
    //圆角循环 .rd-m|xl..
    @include spf-size-shift($target, 'rd-', border-radius, rd, $radius);
}
/** 为 当前类 或 后代类 指定 通用的 padding 样式 **/
@mixin spf-pd-shift($target: self, $manual: null) {
    //尺寸循环|位置循环 .pd-m .pd-s.pd-rl .pd-xl.pd-xy
    @include spf-size-shift($target, 'pd-', padding, pd, $manual);
}
/** 为 当前类 或 后代类 指定 通用的 margin 样式 **/
@mixin spf-mg-shift($target: self, $manual: null) {
    //尺寸循环|位置循环 .mg-m .mg-s.mg-rl .mg-xl.mg-xy
    @include spf-size-shift($target, 'mg-', margin, mg, $manual);
}
/** 为 当前类 或 后代类 指定 通用的 background 样式 **/
@mixin spf-bg-shift($target: self, $blur: null) {
    $prop-pre: if($target == self, unquote("&."), unquote("& ."));
    //颜色循环|透明度循环 .bgc-red-d2 .bgc-m .bgc-primary-l1.bgc-a6
    @include spf-color-shift($target, 'bgc-', border-color, bgc, true);
    //backdrop-filter: blur()
    @if $blur == null {$blur: size-get(blur-m);}
    //.bg-blur
    #{$prop-pre}bg-blur {
        backdrop-filter: blur($blur);
    }
}
/** 为 当前类 或 后代类 指定 通用的 opacity 样式 **/
@mixin spf-opa-shift($target: self) {
    $prop-pre: if($target == self, unquote("&."), unquote("& ."));
    @for $opi from 1 through 10 {
        $opik: $opi * 10;
        $opiv: $opi / 10;
        //.opa-10|20|100...
        #{$prop-pre}opa-#{$opik} {
            opacity: $opiv !important;
        }
    }
}
/** 为 当前类 或 后代类 指定 通用的 shadow 样式 **/
@mixin spf-shadow-shift($target: self, $manual: null) {
    $prop-pre: if($target == self, unquote("&."), unquote("& ."));
    //阴影颜色固定，自带透明度
    $sdc: $color-shadow-m;
    //阴影尺寸 自动计算
    @each $qi in $sizeShiftQueue {
        $sz: size-get(str('shadow-',$qi));
        @if is-num($sz) {
            $x: div($sz, 2);
            $y: $sz;
            $blur: add($sz, set-unit(8, unit($sz)));
            //.shadow-m|xl
            #{$prop-pre}shadow-#{$qi} {
                box-shadow: #{$x} #{$y} #{$blur} #{$sdc};
            }
        }
    }
}



/** 初始化 body 样式 **/
body, view, .page {
    margin: 0; padding: 0;
    //后代元素的 margin|padding 样式
    //@include spf-mg-shift(child);
    //@include spf-pd-shift(child);

    //默认字体
    font: {
        size: $size-fs-m;
        weight: $size-fw-m;
        family: $font-fml-default;
    }
    color: $color-fc-m;
    //后代元素的字体样式
    //@include spf-fo-shift(child);

    //默认背景
    background-color: $color-bgc-m;
    //后代元素的背景样式
    @include spf-bg-shift(child);

    //默认的边框样式
    border: {
        width: 0;
        style: solid;
        color: transparent;
        radius: 0;
    }
    //后代元素的 边框样式
    //@include spf-bd-shift(child);

    //后代元素的 flex 样式
    //.flex-x {@include spf-flex-x($gap: $size-mg-m);}
    //.flex-y {@include spf-flex-y($gap: $size-mg-m);}

    //后代元素的 特殊样式
    //opacity
    //@include spf-opa-shift(child);
    //shadow
    //@include spf-shadow-shift(child);
    //scrollbar
    /*.spf-scroll, .spf-scroll-y {
        @include spf-scroll;
        .scroll-thin {@include spf-scroll($size: 4px);}
        .scroll-bold {@include spf-scroll($size: 8px);}
    }
    .spf-scroll-x {
        @include spf-scroll($ov: auto hidden);
        .scroll-thin {@include spf-scroll($size: 4px, $ov: auto hidden);}
        .scroll-bold {@include spf-scroll($size: 8px, $ov: auto hidden);}
    }*/
}

[v-cloak] {
    display: none !important;
}

.__PRE__-foo-bar {
    @include spf-po-abs;
}