.__PRE__-btn {
    //@extend .btn;

    //在 表格单元格中
    &.btn-incell>label {
        width: 0; text-align: center;
    }
    //当作页面标题
    &.btn-astitle>label {
        font-weight: bold;
        font-size: 1.4em;
    }
}