@charset "UTF-8";
/** SPF-Theme 主题 CSS 变量 **/
/** !! 不要手动修改 !! **/
:root {
  /** color 模块变量定义 **/
  --color-red-m:  #fa5151;
  --color-red-d3: #770404;
  --color-red-d2: #bc0606;
  --color-red-d1: #f80d0d;
  --color-red-l1: #fb8383;
  --color-red-l2: #fdbaba;
  --color-red-l3: #feebeb;
  --color-orange-m:   #ff8600;
  --color-orange-d3:  #7a4100;
  --color-orange-d2:  #a85a00;
  --color-orange-d1:  #d17000;
  --color-orange-l1:  #ffac4d;
  --color-orange-l2:  #ffd29e;
  --color-orange-l3:  #fff5eb;
  --color-yellow-m:   #fa9d3b;
  --color-yellow-d3:  #773f03;
  --color-yellow-d2:  #b35f05;
  --color-yellow-d1:  #f48106;
  --color-yellow-l1:  #fcbc79;
  --color-yellow-l2:  #fdd7af;
  --color-yellow-l3:  #fef5eb;
  --color-green-m:    #07c160;
  --color-green-d3:   #04763b;
  --color-green-d2:   #058f48;
  --color-green-d1:   #06a754;
  --color-green-l1:   #30f891;
  --color-green-l2:   #8efbc3;
  --color-green-l3:   #ebfef4;
  --color-cyan-m: #01c4b3;
  --color-cyan-d3:    #017a70;
  --color-cyan-d2:    #019387;
  --color-cyan-d1:    #01ad9e;
  --color-cyan-l1:    #2afeec;
  --color-cyan-l2:    #8afef5;
  --color-cyan-l3:    #ebfffd;
  --color-blue-m: #1485ee;
  --color-blue-d3:    #083f72;
  --color-blue-d2:    #0b579d;
  --color-blue-d1:    #0e6ec8;
  --color-blue-l1:    #5dabf4;
  --color-blue-l2:    #a4d0f9;
  --color-blue-l3:    #ecf5fe;
  --color-purple-m:   #ea6e9c;
  --color-purple-d3:  #6b0f31;
  --color-purple-d2:  #aa184e;
  --color-purple-d1:  #e12d6f;
  --color-purple-l1:  #f098b9;
  --color-purple-l2:  #f6c1d4;
  --color-purple-l3:  #fcedf3;
  --color-gray-m: #888888;
  --color-gray-d3:    #3d3d3d;
  --color-gray-d2:    #575757;
  --color-gray-d1:    #6e6e6e;
  --color-gray-l1:    #ababab;
  --color-gray-l2:    #d1d1d1;
  --color-gray-l3:    #f5f5f5;
  --color-danger-m:   #fa5151;
  --color-danger-d3:  #770404;
  --color-danger-d2:  #bc0606;
  --color-danger-d1:  #f80d0d;
  --color-danger-l1:  #fb8383;
  --color-danger-l2:  #fdbaba;
  --color-danger-l3:  #feebeb;
  --color-warn-m: #fa9d3b;
  --color-warn-d3:    #773f03;
  --color-warn-d2:    #b35f05;
  --color-warn-d1:    #f48106;
  --color-warn-l1:    #fcbc79;
  --color-warn-l2:    #fdd7af;
  --color-warn-l3:    #fef5eb;
  --color-success-m:  #07c160;
  --color-success-d3: #04763b;
  --color-success-d2: #058f48;
  --color-success-d1: #06a754;
  --color-success-l1: #30f891;
  --color-success-l2: #8efbc3;
  --color-success-l3: #ebfef4;
  --color-primary-m:  #1485ee;
  --color-primary-d3: #083f72;
  --color-primary-d2: #0b579d;
  --color-primary-d1: #0e6ec8;
  --color-primary-l1: #5dabf4;
  --color-primary-l2: #a4d0f9;
  --color-primary-l3: #ecf5fe;
  --color-bz-m:   #ff8600;
  --color-bz-d3:  #7a4100;
  --color-bz-d2:  #a85a00;
  --color-bz-d1:  #d17000;
  --color-bz-l1:  #ffac4d;
  --color-bz-l2:  #ffd29e;
  --color-bz-l3:  #fff5eb;
  --color-fc-m:   #737373;
  --color-fc-d3:  #3d3d3d;
  --color-fc-d2:  #4f4f4f;
  --color-fc-d1:  #616161;
  --color-fc-l1:  #9e9e9e;
  --color-fc-l2:  #c9c9c9;
  --color-fc-l3:  #f5f5f5;
  --color-bgc-m:  #f2f2f2;
  --color-bgc-d3: #3d3d3d;
  --color-bgc-d2: #7a7a7a;
  --color-bgc-d1: #b5b5b5;
  --color-bgc-l1: #f2f2f2;
  --color-bgc-l2: #f5f5f5;
  --color-bgc-l3: #f5f5f5;
  --color-bdc-m:  #efefef;
  --color-bdc-d3: #3d3d3d;
  --color-bdc-d2: #787878;
  --color-bdc-d1: #b5b5b5;
  --color-bdc-l1: #f2f2f2;
  --color-bdc-l2: #f2f2f2;
  --color-bdc-l3: #f5f5f5;
  --color-white-m:    #ffffff;
  --color-black-m:    #000000;
  --color-shadow-m:   #0000004d;
  /** size 模块变量定义 **/
  --size-fs-m:    14px;
  --size-fs-l:    16px;
  --size-fs-s:    12px;
  --size-fs-xl:   18px;
  --size-fs-xs:   10px;
  --size-fs-xxl:  22px;
  --size-fs-xxs:  10px;
  --size-fs-xxxl: 26px;
  --size-fs-xxxs: 9px;
  --size-fs-xxxxl:    32px;
  --size-fs-xxxxs:    8px;
  --size-fw-m:    400px;
  --size-fw-l:    500px;
  --size-fw-s:    300px;
  --size-fw-xl:   700px;
  --size-fw-xs:   200px;
  --size-fw-xxl:  900px;
  --size-fw-xxs:  100px;
  --size-mg-m:    16px;
  --size-mg-l:    20px;
  --size-mg-s:    12px;
  --size-mg-xl:   24px;
  --size-mg-xs:   8px;
  --size-mg-xxl:  28px;
  --size-mg-xxs:  4px;
  --size-pd-m:    12px;
  --size-pd-l:    16px;
  --size-pd-s:    8px;
  --size-pd-xl:   20px;
  --size-pd-xs:   4px;
  --size-pd-xxl:  24px;
  --size-pd-xxs:  0px;
  --size-rd-m:    8px;
  --size-rd-l:    10px;
  --size-rd-s:    6px;
  --size-rd-xl:   12px;
  --size-rd-xs:   4px;
  --size-rd-xxl:  14px;
  --size-rd-xxs:  2px;
  --size-btn-m:   32px;
  --size-btn-l:   36px;
  --size-btn-s:   28px;
  --size-btn-xl:  40px;
  --size-btn-xs:  24px;
  --size-btn-xxl: 44px;
  --size-btn-xxs: 20px;
  --size-bar-m:   36px;
  --size-bar-l:   40px;
  --size-bar-s:   32px;
  --size-bar-xl:  44px;
  --size-bar-xs:  28px;
  --size-bar-xxl: 48px;
  --size-bar-xxs: 24px;
  --size-bd-m:    1px;
  /** vars 模块变量定义 **/
  --font-fml-default: -apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Microsoft Yahei",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  --font-fml-code:    "Cascadia Code", "Consolas", "Courier New", "Pingfang SC", "Microsoft Yahei", monospace;
  --font-fml-fangsong:    "Times New Roman", "仿宋";
  --font-fml-yahei:   "微软雅黑", "Microsoft Yahei";
  --font-fml-songti:  "Times New Roman", "宋体";
  --ani-dura: 0.3s;
}
/** SPF-Theme 主题 SCSS 变量 **/
/** !! 不要手动修改 !! **/
/** color 模块变量定义 **/
/** size 模块变量定义 **/
/** vars 模块变量定义 **/
/** 合并 common.scss 文件 **/
.spf {
  /** SPF-Theme 主题系统 通用 SCSS **/
  /** 需要加载 主题自动生成的 SCSS 变量 **/
  position: relative;
  border: #efefef solid 1px;
}
