/*
 *  DommyUI 基础样式
 *
 */

/** common 通用样式 **/
[class^="-du-"] {
    font-size: 1.4rem;
}




/** navbar 左侧导航 **/
[class^="-du-navbar"]{
    width: 24rem; height: 100vh; margin: 0; padding: 15rem 0 5.4rem 0;
    overflow-x: hidden; overflow-y: auto;
    box-sizing: border-box;
    z-index: 500;
}
    [class^="-du-navbar"][class*="_dark"] {color: var(--c-gray-5); background-color: var(--c-darkgrayblue);}
    [class^="-du-navbar"][class*="_light"] {color: var(--c-gray-7); background-color: var(--c-white);}
    [class^="-du-navbar"][class*="_gray"] {color: var(--c-gray-8); background-color: var(--c-gray-2);}
    [class^="-du-navbar"] > .-du-navbody {display: block;}
    [class^="-du-navbar"] > .-du-navbody > .-du.navbox {display: block;}
        [class^="-du-navbtn"] {
            display: flex; width: 100%; height: 4.2rem;
            align-items: center;
            cursor: pointer;
        }
            [class^="-du-navbar"][class*="_dark"] > .-du-navbody > .-du-navbox > [class^="-du-navbtn"][class*="_open"] {background-color: var(--c-black); color: var(--c-white);}
            [class^="-du-navbar"][class*="_dark"] > .-du-navbody > .-du-navbox > [class^="-du-navbtn"][class*="_active"] {background-color: var(--c-black); color: var(--c-cyan);}
            [class^="-du-navbar"][class*="_dark"] > .-du-navbody > .-du-navbox > [class^="-du-navbtn"]:hover {background-color: var(--c-grayblue); color: var(--c-white);}
            [class^="-du-navbar"][class*="_dark"] > .-du-navbody > .-du-navbox > [class^="-du-navbtn"][class*="_active"]:hover {background-color: var(--c-black);}
            [class^="-du-navbar"][class*="_light"] > .-du-navbody > .-du-navbox > [class^="-du-navbtn"][class*="_open"] {background-color: var(--c-gray-2); color: var(--c-black);}
            [class^="-du-navbar"][class*="_light"] > .-du-navbody > .-du-navbox > [class^="-du-navbtn"][class*="_active"] {background-color: var(--c-warnyellow); color: var(--c-black);}
            [class^="-du-navbar"][class*="_light"] > .-du-navbody > .-du-navbox > [class^="-du-navbtn"]:hover {background-color: var(--c-gray-3); color: var(--c-black);}
            [class^="-du-navbar"][class*="_light"] > .-du-navbody > .-du-navbox > [class^="-du-navbtn"][class*="_active"]:hover {background-color: var(--c-warnyellow);}
            [class^="-du-navbtn"] > i {
                width: 4.2rem; height: 4.2rem; 
                text-align: center; font-size: 2rem; line-height: 4.2rem;
            }
            [class^="-du-navbtn"] > div {
                flex: 1; height: 4.2rem; 
                line-height: 4.2rem; font-size: 1.6rem;
            }
        [class^="-du-navsub"] {
            display: block; padding-bottom: 1rem;
        }
            [class^="-du-navbar"][class*="_dark"] > .-du-navbody > .-du-navbox > [class^="-du-navsub"] {background-color: var(--c-darkergrayblue);}
            [class^="-du-navbar"][class*="_dark"] > .-du-navbody > .-du-navbox > [class^="-du-navsub"][class*="_active"] {color: var(--c-white);}
            [class^="-du-navbar"][class*="_light"] > .-du-navbody > .-du-navbox > [class^="-du-navsub"] {background-color: var(--c-gray-1);}
            [class^="-du-navbar"][class*="_light"] > .-du-navbody > .-du-navbox > [class^="-du-navsub"][class*="_active"] {background-color: var(--c-warnyellow); color: var(--c-black);}
                [class^="-du-navitem"]{
                    display: flex; width: 100%; height: 3.6rem;
                    align-items: center;
                    cursor: pointer;
                }
                    [class^="-du-navbar"][class*="_dark"] > .-du-navbody > .-du-navbox > [class^="-du-navsub"] > [class^="-du-navitem"][class*="_active"] {background-color: var(--c-yellow); color: var(--c-black);}
                    [class^="-du-navbar"][class*="_dark"] > .-du-navbody > .-du-navbox > [class^="-du-navsub"] > [class^="-du-navitem"]:hover {background-color: var(--c-cyan); color: var(--c-black);}
                    [class^="-du-navbar"][class*="_dark"] > .-du-navbody > .-du-navbox > [class^="-du-navsub"] > [class^="-du-navitem"][class*="_active"]:hover {background-color: var(--c-yellow);}
                    [class^="-du-navbar"][class*="_light"] > .-du-navbody > .-du-navbox > [class^="-du-navsub"] > [class^="-du-navitem"][class*="_active"] {background-color: var(--c-cyan); color: var(--c-black);}
                    [class^="-du-navbar"][class*="_light"] > .-du-navbody > .-du-navbox > [class^="-du-navsub"] > [class^="-du-navitem"]:hover {background-color: var(--c-white);}
                    [class^="-du-navbar"][class*="_light"] > .-du-navbody > .-du-navbox > [class^="-du-navsub"] > [class^="-du-navitem"][class*="_active"]:hover {background-color: var(--c-cyan);}
                    [class^="-du-navitem"] > i {
                        width: 4.2rem; height: 3.6rem; 
                    }
                    [class^="-du-navitem"] > div {
                        flex: 1; height: 3.6rem; 
                        line-height: 3.6rem;
                    }

/** topbar 工具栏 **/
[class^="-du-topbar-"] {
    position: fixed; display: flex; width: 100vw; height: 5.4rem; margin: 0; padding: 0 var(--s-gap); overflow: hidden;
    box-sizing: border-box;
    align-items: center;
    z-index: 9000;
}
    [class^="-du-topbar-"] > .gap {width: calc(0.5*var(--s-gap)); height: 5.4rem; overflow: hidden;}
    [class^="-du-topbar-"] > .container {
        padding: 0 calc(0.5*var(--s-gap)); box-sizing: border-box;
        display: flex; align-items: center;
    }
        [class^="-du-topbar-"] > .container > .content {flex: 1; margin-right: calc(0.5*var(--s-gap));}
    [class^="-du-topbar-"] > .logo {height: 5.4rem; width: auto; margin-right: calc(0.5*var(--s-gap));}
    [class^="-du-topbar-"] > .title {
        height: 3.2rem; 
        border-radius: .6rem; border: none;
    }
    [class^="-du-topbar-"] > .content {
        position: relative; display: flex; height: 5.4rem; margin-right: var(--s-gap); padding: 0; overflow: hidden;

        flex: 1; align-items: center; 
    }
    [class^="-du-topbar-"] > .btn {width: 3.2rem; height: 3.2rem; text-align: center; line-height: 5.4rem; text-decoration: none;}
        [class^="-du-topbar-"] > .btn:hover {background-color: rgba(0,0,0,.5);}
        [class^="-du-topbar-"] > .btn > i {font-size: var(--fs-l); line-height: 3.2rem;}